html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

calcite-shell.wheat-theme {
    --calcite-color-brand: #7c3401;
    --calcite-color-focus: #FF7500;
    --calcite-color-brand-hover: #CB5D00;
    --calcite-color-brand-press: #994600;
    --calcite-color-text-1: #4C4C4C;
    --calcite-color-text-2: #505050;
    --calcite-color-text-3: #5B5B5B;
    --calcite-ui-text-highlight: #FF7500;
    --calcite-color-text-inverse: #ffffff;
    --calcite-color-text-link: #CB5D00;
    --calcite-link-blue-underline: rgba(255, 117, 0, 0.5);
    --calcite-color-background: #F7F7F7;
    --calcite-color-foreground-1: #FFFFFF;
    --calcite-color-foreground-2: #542b0725;
    --calcite-color-foreground-3: #EDEDED;
    --calcite-color-inverse: #000000;
    --calcite-color-inverse-hover: #000000;
    --calcite-color-inverse-press: #000000;
    --calcite-color-border-1: #EBEBEB;
    --calcite-color-border-2: #F7F7F7;
    --calcite-color-border-3: #FFFFFF;
    --calcite-color-border-input: #AEAEAE;
    --calcite-ui-icon-color: currentColor;
    --calcite-color-status-info: #CB5D00;
    --calcite-color-status-success: #308e29;
    --calcite-color-status-warning: #f1c21b;
    --calcite-color-status-danger: #D83020;
    --calcite-color-status-danger-hover: #A82B1E;
    --calcite-color-status-danger-press: #7C1D13;
}

/* TimeSlider thumb */
#yearSlider .esri-slider__thumb {
    border-color: #542b07;
}

/* TimeSlider bar */
#yearSlider .esri-slider__segment-1 {
    background-color: #542b07;
}


/* TimeSlider time extent text  */
#yearSlider .esri-time-slider__time-extent {
    color: #542b07;
}

arcgis-feature-table {
    height: 100%;
}

calcite-sheet {
    --calcite-sheet-scrim-background: rgba(248, 248, 248, 0.7);
}

arcgis-chart {
    box-shadow: #1d5519 0px 0px 0px 1px;
    flex: 1;
}

#chart-panel {
    display: flex;
    box-shadow: none;
    border: none;
    height: 400px;
    padding: 0;
    margin: 0;
    width: 100%;
    border-radius: 0;
    border-top: 1px solid var(--calcite-color-border-3);
}

#yearSlider {
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 20px;
}

calcite-chip-group {
    align-self: center;
    padding-right: 1rem;
}

#map-container {
    margin: 1rem;
    width: calc(100% - 2rem);
    border: 1px solid var(--calcite-color-border-2);
    border-radius: 8px;
    box-shadow: var(--calcite-shadow-md);
}

.table-panel-shell {
    position: relative;
    background-size: 16px 16px;
    background-color: var(--calcite-ui-foreground-background);
    background-image: radial-gradient(circle,
            var(--calcite-ui-border-3) 1px,
            transparent 1px);
}

calcite-shell-panel[slot="panel-bottom"] {
    margin-bottom: 1rem;
}

.esri-ui-corner .esri-component {
    box-shadow: none;
}

calcite-navigation-logo {
    --calcite-ui-icon-color: var(--calcite-color-text-1);
}

.content-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.content-container calcite-panel:not(.esri-feature-table__content) {
    margin: 1rem;
    height: calc(100% - 2rem);
    width: calc(100% - 2rem);
    border-radius: 8px;
    box-shadow: var(--calcite-shadow-sm);
}

.content-start {
    background: var(--calcite-color-background);
    height: 100%;
    width: 100%;
}

.content-end {
    background: var(--calcite-color-foreground-3);
    height: 100%;
    width: 0%;
}

@media screen and (max-width: 960px) {
    .content-container {
        flex-direction: column;
    }

    .content-start {
        height: 50%;
        width: 100%;
    }

    .content-end {
        height: 50%;
        width: 100%;
    }
}